{% extends 'base.html.twig' %} {% block body %}
<h1>Bienvenue dans ce blog !</h1>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut ducimus quibusdam quam cupiditate, doloribus repellendus quas voluptates, exercitationem quos distinctio amet architecto dicta blanditiis laudantium quaerat provident neque facere ipsa earum
    repudiandae esse. Nulla, molestiae earum illo porro corrupti explicabo.</p>
<p>Ex eligendi hic doloremque! Quod, accusantium debitis. Illum dolore beatae mollitia quam quis, enim illo similique repudiandae ipsum blanditiis fuga, eius nesciunt magnam voluptas cumque expedita cum ducimus praesentium! Qui ea delectus pariatur, eaque
    necessitatibus iste sapiente nostrum iure excepturi!</p>
{% endblock %}